@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

html {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

.form-container {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 10px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.header {
  text-align: center;
  padding: 2%;
  margin-bottom: 20px;
  background-color:#004858;
}

.icon {
  width: 40px;
  vertical-align: middle;
  margin-right: 10px;
}

h1 {
  font-size: 24px;
  margin: 0;
  color: #ffffff;
}

h3.form-title {
  font-size: 18px;
  color: #90c9af;
}

.form {
  display: flex;
  flex-direction: column;
}

.form-field {
  margin-bottom: 15px;
}

.form-field label {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
  display: block;
}

.input-field, .input-file {
  width: 93%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
}

.input-file {
  padding: 5px;
}

.submit-button {
  background-color: #068762;
  color: white;
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.cadastro-voltar-button {
  background-color: #068762;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
}

/* Formulário de Edição de Relato */

.edicao-form-container {
  width: 90%;
  max-width: 400px;
  margin: 0 auto;
  background-color: #f9f9f9;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.edicao-header {
  text-align: center;
  padding: 2%;
  margin-bottom: 20px;
  background-color:#004858;
}

.edicao-icon {
  width: 40px;
  vertical-align: middle;
  margin-right: 10px;
}

.edicao-h1 {
  font-size: 24px;
  margin: 0;
  color: #ffffff;
}

.edicao-h3 {
  font-size: 18px;
  color: #90c9af;
}

.edicao-form {
  display: flex;
  flex-direction: column;
}

.edicao-form-field {
  margin-bottom: 15px;
}

.edicao-form-field label {
  font-size: 14px;
  color: #555;
  margin-bottom: 5px;
  display: block;
}

.edicao-input-field, .edicao-input-file {
  width: 93%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ddd;
  border-radius: 4px;
  font-size: 14px;
  background-color: #fff;
}

.edicao-input-file {
  padding: 5px;
}

.edicao-submit-button {
  background-color: #068762;
  color: white;
  padding: 15px;
  font-size: 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.edicao-voltar-button {
  background-color: #068762;
  color: white;
  padding: 12px;
  font-size: 16px;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  margin-bottom: 20px;
}


